html, body, div, img, h1, h2, h3, h4, h5, a { margin: 0; padding: 0; border: none;}
a:hover, a:active, a:visited, a:link { text-decoration: none; color: #000000; }

div.notice, div.alert {
  line-height: 0;
  position: absolute;
}

body {
  color: #000000;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.clear {
  line-height: 1px;
  clear: both;
}
.clear_left{
  line-height: 1px;
  clear: left;
}
.clear_right{
  line-height: 1px;
  clear: right;
}

.hidden {
  visibility: hidden;
  display: none;
}

#logo {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 20;
}

#top_nav {
  margin-top: 20px;
  padding: 20px 0 53px 170px;
  background: #000000;
  color: #FFFFFF;
}

#top_nav a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16pt;
}

#top_nav a:hover { color: #00A0D0; }
#top_nav a:active { color: #FC0; }

#top_nav a.selected{
  color: #F00070;
}

#top_nav div {
  padding-left: 40px;
  margin-top: 6px;
  float: left;
}

div#facebook_like {
  margin-top: -16px;
  margin-bottom: -18px;
  margin-right: 5px;
  float: right;
}

#top_nav .clear {
  float: none;
}


#content {
  width: 800px;
  margin:auto;
  margin-top: 0;
  padding-top: 10px;
}

.minimal_comic{
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  margin: 5px;
}
.minimal_comic a.text_link{
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  width: 100px;
  font-weight: normal;
  top: 0;
  left: 0;
  z-index: 10;
  color: #000;
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.2);
}
.minimal_comic a.text_link:hover {
  color: #FFF;
  background: #000;
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.7);
}

.new_comic {
  clear: both;
}

#about p {
  width: 800px;
  margin: auto;
  padding: 0 10px 10px;
}

#comic {
  margin-top: 15px;
}

#comic #original {
  float: right;
  width: 150px;
  height: 60px;
  text-align: center;
}

#comic #original a {
  display: block;
  padding: 4px;
  width: 142px;
  height: 60px;
  background: url(/images/original.png) left top no-repeat;
  font-size: 11pt;
}

#comic #photo {
  width: 800px;
  text-align: center;
  margin-bottom: 10px;
}
#comic #photo img {
  max-width: 800px;
}
#comic_controls_header {
  float: right;
  width: 230px;
  color: #000;
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
}
#comic #comic_controls {
  margin-top: -9px;
  background: #000;
  float: right;
  clear: right;
  width: 220px;
  padding: 5px;
}
.comic_control a {
  padding: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 13pt;
}

.comic_control.spacer{
  line-height: 5px;
}

#comic .comic_info {
  width: 520px;
  margin: 2px 0;
}

#comic .social_link {
  float: left;
  padding: 0 4px 0 0;
}
#comic #date {
  color: #666;
}
#comic #blurb {
  color: #000000;
  position: relative;
  z-index: 0;
}

#comic #blurb p {
  margin: 12px 0;
}

#comic #blurb a {
  text-decoration: underline;
}


#footer {
  margin: auto;
  padding-top: 50px;
  color: #888;
  clear: both;
}

#footer a {
  color: #888;
}

#user_nav {
  text-align: center;
  margin: auto;
}


