html, body, div, img, h1, h2, h3, h4, h5, a { margin: 0; padding: 0; border: none;}
a:hover, a:active, a:visited, a:link { text-decoration: none; color: #000000; }

div.notice, div.alert {
  line-height: 0;
  position: absolute;
}

body {
  color: #000000;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.clear {
  line-height: 1px;
  clear: both;
}
.clear_left{
  line-height: 1px;
  clear: left;
}
.clear_right{
  line-height: 1px;
  clear: right;
}
.hidden {
  visibility: hidden;
  display: none;
}
.float_left {
  float:left
}
.float_right {
  float:right
}

#logo {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 20;
}

#top_nav {
  margin-top: 102px;
  padding: 20px 0 53px 260px;
  background: #000000;
  color: #FFFFFF;
}

#top_nav a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16pt;
}

#top_nav a:hover { color: #00A0D0; }
#top_nav a:active { color: #FC0; }

#top_nav a.selected{
  color: #F00070;
}

#top_nav div {
  padding-left: 40px;
  margin-top: 6px;
  float: left;
}

#top_nav .clear {
  float: none;
}

#content {
  width: 800px;
  margin:auto;
  margin-top: 0;
  padding-top: 10px;
}

.minimal_comic{
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  margin: 5px;
}
.minimal_comic a.text_link{
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  width: 100px;
  font-weight: normal;
  top: 0;
  left: 0;
  z-index: 10;
  color: #000;
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.2);
}
.minimal_comic a.text_link:hover {
  color: #FFF;
  background: #000;
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.7);
}

.new_comic {
  clear: both;
}

#about p {
  width: 800px;
  margin: auto;
  padding: 0 10px 10px;
}

#comic {
  margin-top: 15px;
}

#comic #original {
  float: right;
  width: 150px;
  height: 60px;
  text-align: center;
}

#comic #original a {
  display: block;
  padding: 4px;
  width: 142px;
  height: 60px;
  background: url(/images/original.png) left top no-repeat;
  font-size: 11pt;
}

#comic_info {
  width: 800px;
  text-align: right;
  margin-bottom: 15px;
}
#comic_info #title {
  width: 680px;
  text-align: left;
  margin-bottom: -20px;
}
#comic_info #date {
  position: relative;
  bottom: 0;
  right: 0;
}

#comic #photo {
  width: 800px;
  text-align: center;
  margin-bottom: 10px;
}

#comic #photo img {
  max-width: 800px;
}

#comic #comic_controls, #author_actions {
  background: #000;
  clear: both;
  padding: 5px;
  width: 790px;
  text-align: center;
  margin-bottom: 8px;
}
.comic_control, .author_action {
  width: 200px;
  margin-top: 3px;
}
.comic_control a, .author_action a {
  padding: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 13pt;
}
.comic_control.next, .author_action.edit {
  float: right;
  text-align: right;
}
.comic_control.prev, .author_action.destroy{
  float: left;
  text-align: left;
}
.comic_control a.disabled {
  color: #444;
}
.comic_control#social_links, .author_action.spacer{
  text-align: center;
  width: 350px;
  margin: auto;
  position: relative;
  top: 2px;
}
.social_link {
  display: inline;
}
.social_link#reddit {
  position: relative;
  bottom: 1px;
}
#comic #blurb {
  width: 570px;
  float: left;
  color: #000000;
  position: relative;
  z-index: 0;
}
#comic #blurb p {
  margin: 12px 0 20px;
  line-height: 24px
}

#comic #blurb a {
  text-decoration: underline;
}

#right_ad_rail {
  float: right;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  color: #999;
}


#footer {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  color: #888;
  clear: both;
}

#footer a {
  color: #888;
}

#user_nav {
  margin: auto;
}


