html, body, div, img, h1, h2, h3, h4, h5, a { margin: 0; padding: 0; border: none;}
a:hover, a:active, a:visited, a:link { text-decoration: none; color: #000000; }

div.notice, div.alert {
  float: right;
  margin-top: 2px;
}

html {
  height: 100%;
}

body {
  color: #000000;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.clear {
  line-height: 1px;
  clear: both;
}
.clear_left{
  line-height: 1px;
  clear: left;
}
.clear_right{
  line-height: 1px;
  clear: right;
}
.hidden {
  visibility: hidden;
  display: none;
}
.float_left {
  float:left
}
.float_right {
  float:right
}

div#everything {
  width: 1010px;
  position: relative;
  margin: auto;
  background: white;
}

#logo {
  text-align: left;
  height: 130px;
  width: 300px;
  text-align: center;
  z-index: 20;
  float: left;
}

#logo div {
  position: relative;
  margin-bottom: -15px;
}

#logo h1{
  position: relative;
  right: 0px;
  font-size: 52px;
  font-weight: 900;
}

#top_nav {
  padding: 5px 0 7px ;
  background: #000000;
  color: #FFFFFF;
  float: right;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 710px;
  text-align: center;
}

#top_nav a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16pt;
}

#top_nav a:hover { color: #00A0D0; }
#top_nav a:active { color: #FC0; }

#top_nav a.selected{
  color: #F00070;
}
#top_nav div {
  padding-left: 40px;
  margin-top: 6px;
  display: inline;
}
#top_nav .clear {
  float: none;
}
#content {
  clear: both;
  text-align: left;
  margin:auto;
  margin-top: 0;
  padding-top: 10px;
}
.minimal_comic {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  margin: 5px;
  border: 1px #000 solid;
}
.minimal_comic a.text_link {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  width: 100px;
  font-weight: normal;
  top: 0;
  left: 0;
  z-index: 10;
  color: #000;
  color: rgba(255,255,255,0);
  background: rgba(0,0,0,0);
}
.minimal_comic a.text_link:hover {
  color: #FFF;
  background: #000;
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.8);
}
.new_comic, .new_goody {
  clear: both;
}
#comic {
}
#comic #photo {
  width: 1000px;
  text-align: center;
  margin-bottom: 10px;
}

#comic #photo img {
  max-width: 1000px;
}

#comic #comic_controls, #author_actions {
  background: #000;
  clear: both;
  padding: 5px;
  text-align: center;
  margin-bottom: 8px;
}

.comic_control, .author_action {
  width: 200px;
  margin-top: 3px;
}
.comic_control a, .author_action a {
  padding: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 13pt;
}
.comic_control.next, .author_action.edit {
  float: right;
  text-align: right;
}
.comic_control.prev, .author_action.destroy{
  float: left;
  text-align: left;
}
.comic_control a.disabled {
  color: #444;
}
.comic_control#social_links, .author_action.spacer{
  text-align: center;
  width: 350px;
  margin: auto;
  position: relative;
  top: 2px;
}
.social_link {
  display: inline;
}
.social_link#reddit {
  position: relative;
  bottom: 1px;
}

.title-block {
  width: 760px;
  float: left;
  left: 5px;
  position: relative;
  clear: left;
  color: #000000;
}
.title-block .thumbnail {
  float: left;
  width: 100px;
  height: 100px;
}
.title-block .title {
  width: 650px;
  float: right;
}
.title-block .date {
  float: left;
  clear: right;
  margin-left: 12px;
}

#comic #blurb {
  font-size: 16px;
  width: 760px;
  float: left;
  color: #000000;
  position: relative;
  z-index: 0;
  padding-left: 5px;
}
#comic #blurb p {
  margin: 12px 0 20px;
  line-height: 24px
}
#comic #comments {
  padding-right: 5px;
  width: 760px;
  float: left;
}

#comic #blurb a {
  text-decoration: underline;
}

#right_ad_rail {
  float: right;
  padding: 10px 0;
  width: 235px;
  text-align: center;
  color: #888;
  position: relative;
  right: 5px;
}

#facebook_fan_page {
  margin-bottom: 20px;
  border: solid black 1px;
  padding: 10px;
}

.ad {
  margin-bottom: 20px;
}

#appeal_to_like {
  margin-bottom: 8px;
}

.fb-like {
  margin-bottom: 7px;
}

.goody {
  width: 100px;
  float: left;
  position: relative;
  margin: 5px;
  text-align: center;
}
.goody img.goody_thumb {
  border: 1px black solid;
}
.goody a.goody_thumb_link,
.goody a.goody_thumb_link:hover {
  background: none;
}
.goody a,.goody h3 a {
  color: black;
}
.goody a:hover, .goody h3 a:hover {
  color: white;
  background: black;
}

#footer {
  bottom: 0;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  color: #888;
  clear: both;
}

#footer a {
  color: #888;
}

#user_nav {
  margin: auto;
}
