div, img, h1, h2, h3, h4, h5, a {
  margin: 0; padding: 0;
}
a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color: #000000;
}

div.notice, div.alert {
  line-height: 0;
  position: absolute;
}

body {
  color: #000000;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.clear {
  line-height: 1px;
  clear: both;
}

#logo {
  position: absolute;
  width: auto;
  top: -60px;
  left: -30px;
}

#top_nav {
  position: absolute;
  top: 70px;
  left: 170px;
  width: auto;
}

#archive_link {
  z-index: 20;
  position: relative;
  left: 5px;
}

#about_link {
  z-index: 10;
  position: relative;
  top: -15px;
  left: -15px;
}

#content {
  margin-top: 150px;
  margin-left: 200px;
}

.comic_info {
  display: none;
  visibility: hidden;
}

#comic .comic_info {
  display: block;
  visibility: visible;
}

#comic.hidden {
  visibility: hidden;
  display: none;
}

.title {
  float: left;
  font-size: 25pt;
  height: 40px;
}

.date {
 float: left; 
 font-size: 12pt;
 padding-top: 16px;
}

.blurb {
  clear: both;
}

#archive {
  position: absolute;
  width: 600px;
  color: #FFFFFF;
  z-index: 20;
  top: 53px;
  left: 175px;
}

#archive a:hover, #archive a:active, #archive a:visited, 
#archive a:link, #archive a {
  color: #FFFFFF;
}

#archive_top {
  height: 60px;
  background: url(/images/archive_bg_top.png) no-repeat bottom left;
}

#archive_mid {
  background: url(/images/archive_bg_mid.png) repeat-y left;
  padding-left: 100px;
}

#archive_bottom {
  background: url(/images/archive_bg_bottom.png) no-repeat top left;
  height: 60px;
}

.archive_comic {
  clear: both;
}

.img_links {
  visibility: hidden;
  display: none;
}

.new_comic {
  clear: both;
}

#comic {

}

#user_nav {
  text-align: center;
  margin: auto;
  margin-top: 100px;
}


