<div>
  <p>
    <b>Username:</b><br />
    <%= user.username %>
  </p>
  <p>
    <b>Email:</b><br />
    <%= user.email %>
  </p>
  <p>
    <%= link_to "Edit", edit_user_path(@user) %> | 
    <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
  </p>
</div>
