<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Is_author</th>
  <tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= 'X' if user.is_author %></td>
    <tr>
  <% end %>
</table>

