<% return unless comic
   hidden ||= nil
%>
<div id="comic" <%= "class='hidden'" if hidden %> >
  <div id="photo"><%= image_tag comic.photo.url %></div>
  <%= render :partial => 'comic_info', :locals => {:comic => comic} %>
</div>
