<% return unless comic %>
<div class="minimal_comic" id="<%= comic.id %>">
  <h3><%= link_to comic.title, comic %></h3>
  <%= link_to image_tag(comic.photo.url(:thumb), :class => 'thumb'), comic %>
</div>
