<% return unless comic %>
<div class="minimal_comic" id="<%= comic.id %>">
  <%= link_to comic.title, show_by_slug_path(comic.slug), :class => "text_link"%>
    <%= link_to image_tag(comic.thumbnail_url , :class => 'thumb'), show_by_slug_path(comic.slug), :class => "img_link" %>
</div>
