<% content_for :title_extra do %>
 | Archive
<% end %>

<% content_for :meta_desc do %>
  AnotherWebcomic.com is a biweekly webcomic with <%= @comics.count %> comics and counting!
  The topics change and the comics stay funny.
<% end %>

<% if @tags && @tags.any? %>
  <div id="all-tags">
    <h2>All Tags</h2>
    <%= render partial: 'tags/tag_list', locals: { tag_list: @tags } %>
  </div>
<% end %>

<% if @comics && @comics.any? %>
  <div id="all-comics">
    <h2>All Comics</h2>
    <%= render partial: 'minimal_comic', collection: @comics, as: :comic %>
  </div>
<% end %>

<% if user_is_author? %>
  <div class="new_comic">
    <%= link_to('+ New Comic', new_comic_path) %>
  </div>
<% else %>
  <div class="clear" > </div>
<% end %>
