<% content_for :title_extra do %>
 | Archive
<% end %>

<% content_for :meta_desc do %>
  AnotherWebcomic.com is a biweekly webcomic with <%= @comics.count %> comics and counting!
  The topics change and the comics stay funny.
<% end %>

<% @comics.each do |comic| %>
  <%= render :partial => 'minimal_comic', :locals => {:comic => comic} %>
<% end %>
<% if user_is_author? %>
  <div class="new_comic">
    <%= link_to('+ New Comic', new_comic_path) %>
  </div>
<% else %>
  <div class="clear" > </div>
<% end %>
