<% content_for :title_extra do %>
 | Goodies
<% end %>

<% @goodies.each do |goody| %>
  <%= render :partial => 'goody', :locals => {:goody => goody} %>
<% end %>

<% if user_is_author? %>
  <div class="new_goody">
    <%= link_to('+ New Goody', new_goody_path) %>
  </div>
<% else %>
  <div class="clear" > </div>
<% end %>
