<% hidden ||= false %>
<div id="about" 
  <% if hidden then %>
    class="hidden"
  <% end %>>
  <p>
    Another Webcomic is a side project of Koos Kleven.  He's a 
    software engineer in Seattle, that happens to enjoy drawing too.
    This site is both a place for him to have fun with art, but also 
    a place for him to experiment with new web technologies too!
  </p>
  <p>
    This site is currently running on Rails 3, using hosting from the
    very awesome Heroku.  Koos, as the website builder, would like to 
    thank the paperclip, devise, and Amazon's s3 gems.  Koos, as the
    artist, would like to thank his friends and coworkers for being
    such great sources of content and nice people, though sometimes a
    little crazy.
  </p>
</div>
