<h2>Tags!</h2>
<div id="tags-index">
  <% @tags.each do |tag| %>
    <%= render partial: "tag", locals: { tag: tag } %>
    <%= link_to("(#{tag.comics.count})", action: :show, id: tag.id) %>
    <%= ',' unless tag == @tags.last %>
  <% end %>
</div>
