<div id="right_ad_rail" class="float-right">
  <div id="facebook_fan_page">
    <div id="appeal_to_like">
      Like this AnotherWebcomic? <br /><strong>Show it!</strong>
    </div>
    <div class="fb-like" data-href="http://facebook.com/anotherwebcomic" data-send="true" data-layout="button_count" data-width="160" data-show-faces="false"></div>
    <div class="fb-facepile" data-href="http://facebook.com/anotherwebcomic" data-max-rows="1" data-width="140"></div>
  </div>

  <div class="inkoutbreak">
    <iframe src='http://inkoutbreak.com/exchange/boxy.php?box=2897&box_key=87613dd49187cc58c4941f1d80a66288' scrolling='no'  allowtransparency='1' width='160' height='228' frameborder='0' style='overflow: hidden;'></iframe>
  </div>
</div>
